<%- include('head.ejs')%>

<link rel="stylesheet" type="text/css" href="stylesheet/index.css"/>     
  
      <div class="container">
        <h1>Freelatec</h1>

        <div class="jumbotron">
            <h1 class="display-4">Seja Bem Vindo!</h1>
            <p class="lead">Cadastre seu Curriculo Rapidamente</p>
            <hr class="my-4">
            <p>Somos uma empresa de Freelancers, falicitamos seus jobs pelo preço extremamente acessivel!</p>
            <p class="lead">
              <a class="btn btn-primary btn-dark" href="cadastro" role="button">Cadastrar Curriculo</a>
            </p>
          </div>
      </div>


